.icon-taiwan {
  span {
    color: rgba(255, 29, 108, 1);
  }
}
.icon-food {
  span {
    color: rgba(255, 183, 44, 1);
  }
}
.icon-spot {
  span {
    color: rgba(0, 115, 80, 1);
  }
}

.shadow-custom {
  position: relative;

  &::before,
  &::after {
    position: absolute;
    bottom: 50px;
    top: 80%;
    box-shadow: 0 60px 11px rgba(0, 0, 0, 0.3);
    content: "";
    left: 10px;
    transform: rotate(-3deg);
    width: 50%;
    z-index: -1;
  }

  &::after {
    left: auto;
    right: 10px;
    transform: rotate(3deg);
  }
}
